:root {
    --bckground-soc-footer: rgba(255, 255, 255, 0.1);
    --border-client: #AFB1B8;
    --icon-color: #AFB1B8;
    --background-icon: #F5F4FA;
    --primary-color: #FFFFFF;
    --primary-text-color: #212121;
    --accent-text-color: #2196F3;
    --color-contact: #757575;
    --background-hero: #2F303A;
    --background-filter-btn: #F5F4FA;
    --footer-color-contact: rgba(255, 255, 255, 0.6);
    --background-hero-btn: #188CE8;
    --background-color-team: #F5F4FA;
    --background-img-team: #FFFFFF;
    --header-border: #ECECEC;
    --portfolio-border: #EEEEEE;
    --background-bottom-text: rgba(47, 48, 58, 0.8);
    --portfolio-background-color: rgba(33, 150, 243, 0.9);
    --backdrop-background: rgba(0, 0, 0, 0.2);
    --placeholder-color-text: rgba(117, 117, 117, 0.5);
}