.hero-section {
    padding: 118px;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg_hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                    linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/bg_hero-mob-2X.jpg);
        }
    @media screen and (min-width: 768px) {
        padding: 204px;
        background-image:
                linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/bg_hero-tab.jpg);
                @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image:
                            linear-gradient(rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                            url(../images/bg_hero-tab-2X.jpg);
                    }
    }
        @media screen and (min-width: 1200px) {
            padding: 200px;
            background-image:
                    linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/bg_hero.jpg);
        }
}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.hero__primary-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    max-width: 360px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 30px;
    text-align: center;
    @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: 1.36;
        max-width: 690px;
    }
}

.hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    margin: 0 auto;
    padding: 10px 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 1200px) {
        padding: 10px 32px;
    }
}

.hero__btn.primary {
    border-radius: 4px;
    color: var(--primary-color);
    background-color: var(--accent-text-color);

    &:hover,
        &:focus {
            background-color: var(--background-hero-btn);
        }
}

